<div class="center-class">
    <h1> Welcome to the DCCinema </h1>
    <h4> Select a day to see availables movies </h4>
    <form action="/day" method="get">
    <select name="day" id="day">
    <% @days.each do |day| %>
        <option value=<%= day %>><%= day %></option>
    <% end %>
    </select>
    <input type="submit" value="See Movies">
    </form>
</div>